@mixin h1{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-1);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
}

@mixin h2{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-2);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.8px;
}

@mixin h3{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-3);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.64px;
}

@mixin h4{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-4);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

@mixin h5{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-5);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

@mixin h6{
    color: var(--black);
    font-family: 'Rubik', sans-serif;
    font-size: var(--heading-6);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

@mixin body-x-large{
    font-family: 'Rubik', sans-serif;
    font-size: var(--body-x-large);
    font-weight: 400;
    color: var(--gray-500);
    line-height: 140%;
}

@mixin body-large{
    font-family: 'Rubik', sans-serif;
    font-size: var(--body-large);
    font-weight: 400;
    color: var(--gray-500);
    line-height: 140%;
}
@mixin body-regular{
    font-family: 'Rubik', sans-serif;
    font-size: var(--body-regular);
    font-weight: 400;
    color: var(--gray-500);
    line-height: 140%;
}

@mixin body-small{
    font-family: 'Rubik', sans-serif;
    font-size: var(--body-small);
    font-weight: 400;
    color: var(--gray-500);
    line-height: 140%;
}


@mixin flexRow($gap: 0, $align: center) {
    display: flex;
    flex-direction: row;
    align-items: $align;
    gap: $gap;
}

@mixin margin-small{
    margin-left: 80px;
    margin-right: 80px;
}
@mixin margin-large{
    margin-left: 400px;
    margin-right: 400px;
}