@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import './mixins';

:root{
    --heading-1: 3rem;
    --heading-2: 2.5rem;
    --heading-3: 2rem;
    --heading-4: 1.75rem;
    --heading-5: 1.5rem;
    --heading-6: 1.25rem;
    --body-x-large: 1.12rem;
    --body-large: 1rem;
    --body-regular: 0.88rem;
    --body-small: 0.75rem;

    --black-04: rgba(17,17,17,0.04);
    --black: #111111;
    --blue: #3692E3;
    --gray-100: #F4F4F6;
    --gray-200: #E9EAEF;
    --gray-300: #C1C2CA;
    --gray-400: #96979B;
    --gray-500: #68696F;
    --green: #50C099;
    --red-dark: #BD3434;
    --red-light: #FFF2F4;
    --red: #E84747;
    --white-20: rgba(255,255,255,0.2);
    --white-40: rgba(255,255,255,0.4);
    --white-80: rgba(255,255,255,0.8);
    --white: #FFFFFF;
    --yellow: #FFC565;
    --transparent: #FFFFFF00;
    --overflow-grad: linear-gradient(270deg, var(--white) 48%, var(--transparent) 100%);
    --mono-grad: linear-gradient(269deg, #FC0632 -8.02%, #EB7F00 109.79%);
}

.dark{
    --black-04: rgba(255, 255, 255, 0.08);
    --black: #F4F4F4;
    --blue: #2281D5;
    --gray-100: #232425;
    --gray-200: #3E3F41;
    --gray-300: #636468;
    --gray-400: #A8AAB0;
    --gray-500: #C4C6CE;
    --green: #47A785;
    --red-dark: #830D0D;
    --red-light: #E4CDD1;
    --red: #AC1212;
    --white-20: rgba(13,15,23,0.2);
    --white-40: rgba(13,15,23,0.4);
    --white-80: rgba(13,15,23,0.8);
    --white: #131419;
    --yellow: #EFB047;
    --overflow-grad: linear-gradient(270deg, #191E24 44.55%, rgba(20, 21, 26, 0.00) 100%);
    --mono-grad: linear-gradient(269deg, #FABAA5 -8.02%, #FFECD5 109.79%);
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

a{
    text-decoration: none;
    color: var(--black);
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--white)
}

p{
    @include body-large;
    color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6{
    color: var(--black);
}

.nav{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px;
    height: 64px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    &__icon{
        color: var(--black);
    }
    &--home{
        .nav__menu{
            background-color: var(--white-20);
            border: 1px solid transparent;
            &:hover{
                background-color: var(--white-40);
            }
        }
        .nav__search{
            background-color: var(--black-04);
        }
        .icon-btn{
            &:hover{
                background-color: transparent;
                .theme-icon{
                    color: var(--gray-500);
                }
            }
        }
    }
    ul{
        list-style: none;
    }
    &__left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    &__logo{
        margin-top: 4px;
    }
    &__search{
        background-color: var(--gray-100);
        border-radius: 12px;
        width: 304px;
        height: 36px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        &__icon{
            color: var(--gray-400);
        }
        &__input{
            border: none;
            outline: none;
            background-color: transparent;
            margin-left: 8px;
            height: 36px;
            width: 100%;
            font-size: var(--body-regular);
            &::placeholder{
                color: var(--gray-400);
            }
            &:valid{
                color: var(--black)
            }
        }
        &:hover{
            background-color: var(--gray-200);
        }
        &:has(> input:focus){
            padding-left: 14px;
            height: 32px;
            border: 2px solid var(--gray-400);
            outline: 2px solid var(--gray-200);
        }
    }
    &__menu{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 12px;
        border: 1px solid var(--gray-200);
        background-color: var(--white);
        cursor: pointer;
        &--auth{
            width: auto;
            height: auto;
            padding: 4px 8px 4px 4px;
            border-radius: 32px;
            gap: 4px;
        }
    }
    &__menu-icon{
        color: var(--gray-500);
    }
    &__avatar{
        width: 32px;
        height: 32px;
        border-radius: 100%;
        overflow: hidden;
    }
    &__links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.filter{
    margin: 32px 0 28px;
    @include margin-small;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__sort{
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding: 10px 16px;
        background-color: var(--black-04);
        border-radius: 12px
    }
    &__icon{
        fill: var(--black);
    }
    &__categories{
        @include body-regular;
        color: var(--black);
        font-weight: 500;
    }
    
}

.categories{
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 36px;
    scroll-behavior: smooth;
    position: relative;
    .chip{
        @include body-regular;
        padding: 8px 12px;
        border-radius: 32px;
        background-color: transparent;
        color: var(--gray-500);
        border: none;
        font-weight: 500;
        margin-right: 8px;
        &:hover{
            color: var(--gray-400);
            cursor: pointer;
        }
        &--selected{
            background-color: var(--black-04);
            color: var(--black);
            &:hover{
                color: var(--gray-500);
            }
        }
    }
    &__more{
        position: absolute;
        right: 0;
        z-index: 1000;
        top: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        border: 1px solid var(--gray-200);
        cursor: pointer;
        box-sizing: border-box;
        background-color: var(--white);
    }
    &__chevron{
        color: var(--gray-500);
    }
    &__overflow{
        position: absolute;
        height: 36px;
        width: 120px;
        top: 0;
        right: 0;
        z-index: 2;
        background: var(--overflow-grad);
        border-radius: 32px;
    }
}

.dark{
    .categories__overflow{
        mix-blend-mode: darken;
    }
    .categories__more{
        background-color: #15171C;
    }
}

.footer{
    display: flex;
    border-top: 1px solid var(--gray-100);
    padding: 40px 80px 80px 80px;
    &__left{
        @include body-regular;
        color: var(--gray-500);
        flex-grow: 1;
    }
    &__icon{
        margin: auto;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    &__right{
        @include body-regular;
        color: var(--gray-500);
    }
    &__count{
        font-weight: 500;
        color: var(--black);
    }
}
.projects{
    &:hover{
        color: var(--gray-400);
        cursor: pointer;
    }
    @include margin-small;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 100px;
    z-index: 3;
}
.project-card{
    &:hover{
        .project-card__cover{
            transform: translateY(-8px);
        }
        .project-card__buttons{
            opacity: 100;
        }
    }
    &__cover{
        transition: all 0.24s ease-in-out;
        background-color: var(--gray-200);
        aspect-ratio: auto 4/3;
        border-radius: 12px;
        position: relative;
        margin-bottom: 12px;
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
    }
    &__avatar-outline{
        width: 36px;
        height: 36px;
        background-color: var(--gray-200);
        outline: 4px solid var(--white);
        border-radius: 100%;
        position: absolute;
        right: 16px;
        top: calc(100% - 16px);
    }
    &__avatar{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    &__stats{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
    }
    &__stat{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        margin-right: 12px;
        color: var(--gray-400);
        p{
            @include body-small;
            color: var(--gray-400);
        }
    }
    &__title{
        @include body-large;
        font-weight: 700;
        color: var(--black);
    }
    &__buttons{
        position: absolute;
        left: 16px;
        bottom: 16px;
        flex-direction: row;
        gap: 8px;
        transition: all 0.12s ease-in-out;
        opacity: 0;
        display: flex;
    }
    &__button{
        width: 32px;
        height: 32px;
        background-color: var(--white-80);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
}

.squares{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    z-index: -1;
}
.square{
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--gray-100);
    &--1{
        top: 280px;
        left: 208px;
        background: rgba(244, 84, 62, 0.08);
    }
    &--2{
        top: 312px;
        left: 240px;
        background: rgba(244, 84, 62, 0.08);
    }
    &--3{
        top: 112px;
        left: 1232px;
        background: rgba(40, 109, 213, 0.08);
    }
    &--4{
        top: 144px;
        left: 1264px;
        background: rgba(40, 109, 213, 0.08);
    }
    &--5{
        top: 192px;
        left: 1168px;
        background: rgba(40, 109, 213, 0.08);
    }
}

.dark{
    .square{
        background-color: var(--black-04);
    }
}

.circles-light{
    pointer-events: none;
}

.circle-light{
    position: absolute;
    top: 0;
    mix-blend-mode: multiply;
    z-index: 0;
}

.circle-dark{
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: -2;
}

.hero{
    position: relative;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    &__mono{
        @include body-regular;
        font-family: 'DM Mono', monospace;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2.24px;
        background: var(--mono-grad);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__text{
        max-width: 640px;
    }
    &__heading{
        @include h1;
        text-align: center;
        margin-bottom: 24px;
    }
    &__subheading{
        @include body-x-large;
        text-align: center;
    }
    &__arrow{
        position: absolute;
        bottom: 100px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        transform: rotate(-90deg);
        left: 8px;
    }
}

.icon{
    width: 24px;
    height: 24px;
    color: var(--black);
}
.icon-small{
    width: 20px;
    height: 20px;
    color: var(--black);
}
.icon-x-small{
    width: 16px;
    height: 16px;
}

.radio{
    display: inline-block;
    height: 24px;
    margin-right: 32px;
    &__input{
        position: absolute;
        cursor: pointer;
        appearance: none;
        width: 0;
        height: 0;
        &::before{
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            border-radius: 100%;
            border: 2px solid var(--gray-400);
        }
        &:not(:disabled):checked{
            &::after{
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 6px;
                left: 6px;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: var(--blue);
            }
        }
    }
    &__label{
        position: relative;
        line-height: 24px;
        margin-left: 32px;
        color: var(--black);
        font-weight: 500;
    }
}

.input{
    &__label{
        display: block;
        @include body-regular;
        color: var(--black);
        font-weight: 500;
        margin-bottom: 8px;
        &--required::after {
            content:" *";
            color: var(--red);
        }
    }
    &__field{
        padding: 12px 16px;
        border-radius: 12px;
        background-color: var(--gray-100);
        border: none;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
        &::placeholder{
            color: var(--gray-300);
        }
        &:hover{
            background-color: var(--gray-200);
        }
        &:focus{
            padding: 10px 14px;
            border: 2px solid var(--gray-400);
            outline: 2px solid var(--gray-200);
        }
        &:valid{
            color: var(--black)
        }
    }
}

.upload{
    @include margin-large;
    margin-bottom: 100px;
    margin-top: 56px;
    &__heading{
        @include h3;
        margin-bottom: 16px;
    }
    &__subheading{
        @include body-large;
        margin-bottom: 32px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__fieldset{
        border: 0;
        margin-bottom: 8px;
    }
    &__legend{
        @include body-regular;
        color: var(--black);
        font-weight: 500;
        margin-bottom: 16px;
    }
}

.btn{
    @include body-regular;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    background-color: var(--black);
    color: var(--gray-100);
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    &:hover{
        background-color: var(--gray-500);
    }
    &--secondary{
        background-color: var(--gray-100);
        color: var(--black);
        &:hover{
            background-color: var(--gray-200);
        }
    }
    &--tertiary{
        background-color: transparent;
        color: var(--black);
        padding: 8px;
        &:hover{
            background-color: transparent;
            color: var(--gray-500);
        }
    }
    &--large{
        @include body-large;
        font-weight: 500;
        padding: 10px 16px;
        border-radius: 12px;
    }
    &--full{
        width: 100%;
    }
}

.menu{
    position: absolute;
    top: 56px;
    right: 80px;
    width: 240px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    z-index: 100;
    &__user{
        padding: 12px;
        border-bottom: 1px solid var(--gray-200)
    }
    &__name{
        @include body-large;
        color: var(--black);
        font-weight: 700;
    }
    &__email{
        @include body-regular;
        color: var(--gray-500);
    }
    &__internal{
        padding: 8px;
        border-bottom: 1px solid var(--gray-200);
    }
    &__external{
        padding: 8px;
        padding-bottom: 12px;
    }
}

.menu-item{
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    &:hover{
        cursor: pointer;
        background-color: var(--gray-100);
    }
    &__title{
        @include body-regular;
        font-weight: 500;
        color: var(--gray-500);
        flex-grow: 1;
    }
}
.signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__icon{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-100);
        border-radius: 100%;
    }
    &__gradient{
        height: calc(100vh - 80px);
        width: calc(100% - 80px);
        border-radius: 32px;
    }
    &__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__block{
        width: 440px;
    }
    &__form{
        display: flex;
        gap: 16px;
        flex-direction: column;
        width: 100%;
    }
    &__or{
        position: relative;
        width: 100%;        
        line-height: 64px;
        text-align: center;
        &::before{
            left: 0;
            position: absolute;
            width: 46%;
            height: 1px;
            top: 32px;
            background-color: var(--gray-200); 
            content: '';
        }
        &::after{
            right: 0;
            position: absolute;
            width: 46%;
            height: 1px;
            top: 32px;
            background-color: var(--gray-200); 
            content: '';
        }
    }
    &__top{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        margin-bottom: 32px;
        text-align: center;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
}

.modal-bg{
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    overflow-y: scroll;

}

.project-det{
    z-index: 1002;
    margin: auto;
    width: 880px;
    background-color: var(--white);
    padding: 32px;
    border-radius: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
    &__side{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        border: 1px solid var(--gray-100);
        border-radius: 8px;
        align-self: flex-start;
        gap: 24px;
    }
    &__heading{
        @include body-regular;
        font-weight: 700;
        color: var(--black);
        margin-bottom: 12px;
    }
    &__content{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    &__article{
        min-width: 540px;
        h1 {
            margin-bottom: 12px;
        }
        h2, h3, h4, h5, h6 {
            margin-top: 20px;
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 12px;
        }
    }
    &__header{
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
    }
    &__left{
        flex-grow: 2
    }
    &__title{
        @include h5;
        margin-bottom: 8px;
    }
    &__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    &__metadata{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: var(--gray-500);
    }
    &__stat{
        @include body-small
    }
    &__dot{
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: var(--gray-300);
    }
    &__btns{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
    }
    &__img{
        width: 100%;
        border-radius: 12px;
        margin-bottom: 32px;
    }
    &__avatar{
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
    &__contributor{
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-bottom: 8px;
    }
}
.icon-btn{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    background-color: var(--gray-100);
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: var(--gray-200);
    }
    &--transparent{
        background-color: transparent;
        color: var(--black);
        &:hover{
            background-color: transparent;
            color: var(--gray-500);
        }
    }
}
.profile{
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    margin: 80px;
    margin-top: 56px;
    gap: 64px;
    &__projects{
        flex-grow: 2;
    }
    .projects{
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        margin-top: 24px;
    }
    &__left{
        width: 260px;
    }
    &__avatar-container{
        width: 100px;
        height: 100px;
        position: relative;
        margin-bottom: 24px;
        cursor: pointer;
    }
    &__avatar{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-bottom: 24px
    }
    &__avatar-input{
        background-color: var(--gray-100);
        border-radius: 100%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -8px;
        bottom: -8px;
        outline: 4px solid var(--white);
    }
    &__icon{
        color: var(--gray-500);
    }
    &__name{
        @include h5;
        margin-bottom: 16px;
    }
    &__stats{
        p{
            @include body-regular;
        }
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 16px
    }
    &__num{
        font-weight: 700;
        color: var(--black);
    }
    &__button{
        margin-bottom: 24px;
    }
    &__about-heading{
        font-weight: 700;
        color: var(--black);
        margin-bottom: 8px;
    }
    &__about{
        @include body-regular;
        margin-bottom: 16px;
    }
    &__link{
        color: var(--blue);
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        margin-bottom: 4px;
    }
    &__url{
        @include body-regular;
        color: var(--blue);
        font-weight: 500;
    }
    &__icon-input{
        display: flex;
        gap: 12px;
        flex-direction: row;
        align-items: center;
        margin-top: 16px;
        div{
            width: 100%;
        }
    }
    &__input{
        margin-bottom: 8px;
    }
    &__btns{
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    &__count{
        font-weight: 400;
        color: var(--gray-400);
        margin-left: 4px;
    }
}

.empty{
    margin-top: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__icon-container{
        display: flex;
        background-color: var(--gray-100);
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-bottom: 16px
    }
    &__icon{
        color: var(--gray-400);
    }
    &__heading{
        @include h4;
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 24px;
    }
}

.file-input{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 12px;
    border: 1px dashed var(--gray-300);
    text-align: center;
    &__instruction{
        color: var(--black);
        font-weight: 500;
        margin-top: 8px;
        margin-bottom: 4px;
        cursor: pointer;
    }
    &__size{
        @include body-regular;
        font-weight: 500;
        color: var(--gray-400);
    }
    &__click{
        color: var(--blue);
    }
    &__name{
        background-color: var(--gray-100);
        padding: 4px;
        margin-top: 8px;
        border-radius: 4px;
    }
}

select {
    -webkit-appearance: none;
    appearance: none;
    color: var(--black);
  }

option{
    color: var(--black);
}

select{
    background-image: url("https://cdn.icon-icons.com/icons2/2551/PNG/512/chevron_down_icon_152894.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
}
.filled-heart{
    color: #DF2451;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.tag{
    list-style: none;
    @include body-small;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--gray-100);
    color: var(--gray-500);
}